In [2]:
import numpy as np
import pandas as pd

In [3]:
pandas_task = np.load("pandas_tasks.npy")
numpy_task = np.load("numpy_tasks.npy")

In [6]:
practice = int(input("Press 1 for Pandas practice \n Press 2 for numpy practice"))
n_tasks = int(input("Number of tasks you want to do :"))
print("\n========\n")

tasks = pandas_task if practice == 1 else numpy_task
x = np.vstack((tasks, np.random.default_rng().integers(2, size = tasks.shape))).T

print("\n".join(x[x[:,1] == '1'][:n_tasks][:,0]))

Press 1 for Pandas practice
 Press 2 for numpy practice1
Number of tasks you want to do :4

========

Getting column and index names
summary stats with describe()
sorting on the basis of index and col values sort_index() and sort_values(by = )
Accessing columns and setting values

In [9]:
data = {
    'a' : np.array([1,2,3,4]),
    'b' : pd.Categorical(['good', 'bad', 'bad', 'bad']),
    'c' : 2.3,
    'd' : pd.Timestamp('20230307085800')
}

In [12]:
df = pd.DataFrame(data, index = pd.date_range("20230307", periods = 4))

In [13]:
df

            a     b    c                   d
2023-03-07  1  good  2.3 2023-03-07 08:58:00
2023-03-08  2   bad  2.3 2023-03-07 08:58:00
2023-03-09  3   bad  2.3 2023-03-07 08:58:00
2023-03-10  4   bad  2.3 2023-03-07 08:58:00